{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block aboutactive %} active {% endblock aboutactive %}

{% block body %} 
<div class="container my-3">
    <div class="jumbotron">
       <b> <h1 class="display-4">About Artistic Direction!</h1></b>
        <p class="lead">A simple platform for all kind of artists from newbie to experienced to share different kinds of
            artstyles and to gai experience.</p>
        <hr style="height:3px;border-width:0;color:gray;background-color:gray">
        <p>join our inta page and learn how to grow on social media from our experts.</p>
        <a class="btn btn-primary btn-lg" href="https://www.instagram.com/raygon_fury/" role="button">visit our insta page</a>
        <hr style="height:3px;border-width:0;color:gray;background-color:gray">
        <p>join our facebook community and communicate with experienced artists on fb platform.</p>
        <a class="btn btn-primary btn-lg" href="https://www.facebook.com/gitesh.acharekar.5/" role="button">visit our facebook page </a>
    </div>
</div>
{% endblock body %}