{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block aboutactive %} active {% endblock aboutactive %}

{% block body %} 
<div class="container my-3">
    <div class="jumbotron">
       <b> <h1 class="display-4">About Artistic Direction!</h1></b>
        <p class="lead">A simple platform for all kind of artists from newbie to experienced to share different kinds of
            artstyles and to gai experience.</p>
        <hr class="my-4">
        <p>Explore differnt artworks and art forms, and get advice from experts.</p>
        <a class="btn btn-primary btn-lg" href="https://www.instagram.com/raygon_fury/" role="button">Go to Art</a>
    </div>
</div>
{% endblock body %}