{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
{% block homeactive %} active {% endblock homeactive %}

{% block body %}
<div class="container my-3">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Artistic Direction!</h1>
        <p class="lead">A simple platform for all kind of artists from newbie to experienced to share different kinds of artstyles and to gai experience.</p>
        <hr class="my-4">
        <p>Explore differnt artworks and art forms, and get advice from experts.</p>
        <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Art</a>
    </div>
</div>


{% endblock body %}