{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
{% block homeactive %} active {% endblock homeactive %}

{% block body %}
<div class="container my-3" >
    <div class="jumbotron" style="background-color: rgb(247, 137, 137)!important;">
       <b> <h1 class="display-4">Welcome to Artistic Direction!</h1></b>
        <p class="lead">A simple platform for all kind of artists from newbie to experienced to share different kinds of
            artstyles and to gai experience.</p>
        <hr class="my-4">
        <p>Explore differnt artworks and art forms, and get advice from experts.</p>
        <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Art</a>
    </div>
</div>
<div class="container my-3">
    <div class="jumbotron" style="background-color: rgb(133, 247, 218)!important;">
        <h1 class="display-4">Graphite and Charcoal Artworks!</h1>
        <p class="lead">A simple platform for all kind of artists from newbie to experienced to share different kinds of
            artstyles and to gai experience.</p>
        <hr class="my-4">
        <p>Explore differnt artworks and art forms, and get advice from experts.</p>
        <a class="btn btn-primary btn-lg" href="/blog/?filter=graphite" role="button">Go to Art</a>
    </div>
</div>
<div class="container my-3">
    <div class="jumbotron" style="background-color: rgb(186, 199, 253)!important;">
        <h1 class="display-4">Digital Paintings!</h1>
        <p class="lead">A simple platform for all kind of artists from newbie to experienced to share different kinds of
            artstyles and to gai experience.</p>
        <hr class="my-4">
        <p>Explore differnt artworks and art forms, and get advice from experts.</p>
        <a class="btn btn-primary btn-lg" href="/blog/?filter=digital" role="button">Go to Art</a>
    </div>
</div>
<div class="container my-3">
    <div class="jumbotron" style="background-color: rgb(252, 203, 252)!important;">
        <h1 class="display-4">Oil and Gouche Paintings!</h1>
        <p class="lead">A simple platform for all kind of artists from newbie to experienced to share different kinds of
            artstyles and to gai experience.</p>
        <hr class="my-4">
        <p>Explore differnt artworks and art forms, and get advice from experts.</p>
        <a class="btn btn-primary btn-lg" href="/blog/?filter=oil" role="button">Go to Art</a>
    </div>
</div>


{% endblock body %}