<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>{% block title %} {% endblock title %}</title>
</head>

<body style="background-repeat: no-repeat;
  background-attachment: fixed; background-image: url('https://www.freecodecamp.org/news/content/images/2020/04/w-qjCHPZbeXCQ-unsplash.jpg');">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="color:#FF0909;">
    <a class="navbar-brand" href="/">Artistic Direction</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% block homeactive %} {% endblock homeactive %}">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% block blogactive %} {% endblock blogactive %}">
          <a class="nav-link" href="/blog">Art</a>
        </li>
        <li class="nav-item {% block contactactive %} {% endblock contactactive %}">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
         <li class="nav-item {% block aboutactive %} {% endblock aboutactive %}">
          <a class="nav-link" href="/about">About</a>
        </li>
         </li>
         <li class="nav-item {% block profileactive %} {% endblock profileactive %}">
          <a class="nav-link" href="/profile/{{request.user}}">My Profile</a>
        </li>

      </ul>
      
      <div class="ml-auto form-inline">
      <form method="get" action="/search" class=" my-2 my-lg-0 mx-3">
      
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query"
          id="query" required>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
       {% if is_home_page and user.is_authenticated %}
        <a type="button" class="btn btn-success m-2 my-sm-0 " style="color:white" data-toggle="modal" data-target="#create">
        Create Post
      </a>
          

  <!-- Login Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalTitle">Login Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action='/login' method='post'>
            {% csrf_token %} 
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="loginusername" name="loginusername" placeholder="Choose a unique username" required>
            </div>

            <div class="form-group">
              <label for="pass">Password</label>
              <input type="password" class="form-control" id="loginpassword" name="loginpassword" placeholder="Enter your password" required>
            </div>

          <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer"> 
        </div>
      </div>
    </div>
  </div>


       {% endif %}
      <a href="/admin" role="button" target="_blank" class="btn btn-success m-2 my-sm-0">Admin Panel</a> 

      {% if user.is_authenticated %}
      <ul class="navbar-nav mr-2">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome {{request.user}} {{ request.test }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/myprofile">My Profile</a> 
          <a class="dropdown-item" href="/logout">Logout</a> 
        </div>
      </li>
      </ul>
      
        
      {% else %}
      <!-- Button to trigger Login modal -->
      <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#loginModal">
        Login
      </button>
      <!-- Button to trigger SignUp modal -->
      <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#signupModal">
        SignUp
      </button>
      
      {% endif %}
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   </nav>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
    <strong>Message: </strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}




  <!-- SignUp Modal -->
  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupModalTitle">SignUp Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action='/signup' method='post'>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Choose a unique username (Lowercase & alphanumeric)" required>
            </div>
            <div class="form-group">
              <label for="fname">First Name</label>
              <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" required>
            </div>
            <div class="form-group">
              <label for="lname">Last Name</label>
              <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name" required>
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
            </div>

            <div class="form-group">
              <label for="pass1">Choose a Password</label>
              <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Choose your password" required>
            </div>

            <div class="form-group">
              <label for="pass2">Confirm Password</label>
              <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Enter your password again" required>
            </div>

          {% csrf_token %} 
          <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer"> 
        </div>
      </div>
    </div>
  </div>

  <!-- Login Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalTitle">Login Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action='/login' method='post'>
            {% csrf_token %} 
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="loginusername" name="loginusername" placeholder="Choose a unique username" required>
            </div>

            <div class="form-group">
              <label for="pass">Password</label>
              <input type="password" class="form-control" id="loginpassword" name="loginpassword" placeholder="Enter your password" required>
            </div>

          <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer"> 
        </div>
      </div>
    </div>
  </div>

<!-- create post Modal -->
  <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="create" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="signupModalTitle">Create Post Here</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action='/CreateNewPost' method='post' enctype="multipart/form-data">
                    {% csrf_token %}
                      <div class="form-group">
                        <label for="username">Image</label>
                        <input type="file" class="form-control" id='imagefile' name="imagefile" required>
                      </div>
                      <div class="form-group">
                        <label for="fname">title</label>
                        <input type="text" class="form-control"  name="title" placeholder="title" required>
                      </div>
                        <div class="form-group">
                         <label for="arttype">Art Field</label>
                          <select name="arttype" class="form-control" id="arttype">
                            <option value="graphite">Graphite And charcoal</option>
                            <option value="digital">Digital Painting</option>
                            <option value="oil">Oil and Gouche paintings</option>
                          </select>
                      </div>
                      <div class="form-group">

                      <div class="form-floating">
                      
                        <label for="lname">content</label>
                         <textarea class="form-control" placeholder="Leave a contend" name="content" style="height: 100px"></textarea>
                   
                     </div>
                      <div class="form-floating">
                      
                        <label for="tools">tools</label>
                         <textarea class="form-control" placeholder="mention tools used in the art" name="tools" style="height: 100px"></textarea>
                   
                     </div>
                       
                      </div>
                      

                    {% csrf_token %} 
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                  <div class="modal-footer"> 
                  </div>
                </div>
              </div>
            </div>

  {% block body %}
  {% endblock body %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>